# GBrain v0.42.59.0 commit 5008b287e47bf791132eedfebf66bdef11e9398c.
# After building, set the immutable RepoDigest from `docker image inspect`.
GBRAIN_IMAGE_REPOSITORY=gbrain
GBRAIN_IMAGE_DIGEST=sha256:REPLACE_WITH_64_HEX_DIGEST
GBRAIN_UID=10001
GBRAIN_GID=10001
GBRAIN_PORT=9020
GBRAIN_PIDS_LIMIT=256
GBRAIN_CPU_LIMIT=2.0
GBRAIN_MEMORY_LIMIT=2G
GBRAIN_MEMORY_RESERVATION=256M
GBRAIN_BRAIN_DIR=/var/lib/aletheon/gbrain/brain
GBRAIN_DATABASE_DIR=/var/lib/aletheon/gbrain/database
GBRAIN_READ_TOKEN_FILE=/etc/aletheon/credentials/gbrain-read.token
GBRAIN_WRITE_TOKEN_FILE=/etc/aletheon/credentials/gbrain-write.token
